# files
*.csv
*.txt
!test.txt
*.ipynb
*.res
*.sol
*.pul
*.sav
*.pt
*.png
*.npy
*.sh

# directory
__pycache__
.vscode
ckpt
logs
images

# specific files
nohup.out
run.sh
tsp_problem.tsp
run_2opt.sh
train_analysis.py
model/cython_merge/cython_merge.c
model/cython_merge/cython_merge.cpython-310-x86_64-linux-gnu.so
.gitignore
model/cython_merge/build/temp.linux-x86_64-cpython-310/cython_merge.o
model/cython_merge/build/temp.linux-x86_64-3.10/cython_merge.o
