# files
*.csv
*.txt
*.ipynb
*.res
*.sol
*.pul
*.sav
*.pt
*.png
*.npy
*.sh

# directory
__pycache__
.vscode
ckpt
logs
images

# specific files
nohup.out
run.sh
tsp_problem.tsp
run_2opt.sh
train_analysis.py
