# general
seed : 2024
deterministic : True
allow_tf32 : True
reward_type : 'tsp_constraint'
model : "runwayml/stable-diffusion-v1-5"
revision : "main"
num_processes : 1
process_index : 0
save_result : True
save_freq : 2
num_cities : 50
run_name : 'tsp20_constraint'
use_plug_and_play : True
constraint_type : 'cluster'

# sample
num_steps : 50
batch_size_sample : 1
num_init_sample : 3
eta : 1.0 #TODO: check this randomness
use_best_sample : False

# train
timestep_fraction : 1.0
gradient_accumulation_steps : 1
num_epochs : 1
num_inner_epochs : 1

learning_rate : 0.1 #3e-4
adam_beta1 : 0.9
adam_beta2 : 0.999
adam_weight_decay : 0.0001 #1e-4
adam_epsilon : 0.00000001 #1e-8
batch_size_train : 1
adv_clip_max : 5
clip_range : 0.0001 #1e-4
max_grad_norm : 1.0

# image
img_size : 64
point_radius : 2
point_color : 1
point_circle : True
line_thickness : 2
line_color : 0.5
box_color : 0.75
path : './images/test'